[Unit]
Description=WebRTC Video&Audio Streaming Server
After=network.target

[Service]
Type=simple
Restart=always
User=pi
ExecStart=/usr/bin/python3 /home/pi/Projects/rtcServer/rtc.py

[Install]
WantedBy=multi-user.target
